<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Time Machine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geotag-photo/dist/Leaflet.GeotagPhoto.css" />
    <script src="https://unpkg.com/leaflet-geotag-photo/dist/Leaflet.GeotagPhoto.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  </head>
  <body>
    <meta id="lat" data-name="lat" data-val="{{lat}}">
    <meta id="lon" data-name="lon" data-val="{{lon}}">
    <meta id="url" data-name="url" data-val="{{url}}">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-icon-container">
            <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
            <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i class="fa fa-search fa-lg white"></i></a>
          </div>
          <a class="navbar-brand" href="#">TimeMachine</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group has-feedback">
                <input id="searchbox" type="text" placeholder="Search" class="form-control">
                <span id="searchicon" class="fa fa-search form-control-feedback"></span>
            </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <form id="addTarget" action="/add-camera" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="lat2" id="lat2">
                            <input type="hidden" name="lon2" id="lon2"></form>
    <div id="map"></div>
    <div id="slider-container">
        <label for="slider">Angle:</label>
        <input id="slider" type="range" min="1" max="120" step="1" value="20">
        <span id="angle"></span>
      </div>
<!--     <div id="sidebar">
      <h1>Leaflet.GeotagPhoto</h1>
      <h2>Mode: Camera <span class="light">(switch to <a href="crosshair.html">Crosshair</a>)</span></h2>
      <p>
        Leaflet plugin for photo geotagging. See <a href="https://github.com/nypl-spacetime/Leaflet.GeotagPhoto">GitHub</a> for details.
      </p>
      <h2>Output:</h2>
      <pre><samp id="output">
      </samp></pre>
    </div> -->
    <script>
      var cartoLight = L.tileLayer("https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>'
      });
      var usgsImagery = L.layerGroup([L.tileLayer("http://basemap.nationalmap.gov/arcgis/rest/services/USGSImageryOnly/MapServer/tile/{z}/{y}/{x}", {
          maxZoom: 15,
          }), L.tileLayer.wms("http://raster.nationalmap.gov/arcgis/services/Orthoimagery/USGS_EROS_Ortho_SCALE/ImageServer/WMSServer?", {
        minZoom: 16,
        maxZoom: 19,
        layers: "0",
        format: 'image/jpeg',
        transparent: true,
        attribution: "Aerial Imagery courtesy USGS"
      })]);

      /* Overlay Layers */
      var highlight = L.geoJson(null);
      var highlightStyle = {
        stroke: false,
        fillColor: "#00FFFF",
        fillOpacity: 0.7,
        radius: 10
      };

      var lat = $('#lat').data();
      var lon = $('#lon').data();

      map = L.map("map", {
      zoom: 18,
      center: [lat.val, lon.val],
      layers: [cartoLight, highlight],
      zoomControl: false,
      attributionControl: false
      });

      // var cameraPoint = [6.83442, 52.43369]
      // var targetPoint = [6.83342, 52.43469]
      console.log(lon);
      console.log(lat);

      var cameraPoint = [lon.val, lat.val]
      var targetPoint = [lon.val - 0.001, lat.val + 0.001]

      var points = {
        type: 'Feature',
        properties: {
          angle: 20
        },
        geometry: {
          type: 'GeometryCollection',
          geometries: [
            {
              type: 'Point',
              coordinates: cameraPoint
            },
            {
              type: 'Point',
              coordinates: targetPoint
            }
          ]
        }
      }

      L.Control.textbox = L.Control.extend({
                onAdd: function(map) {
                var url = $("#url").data().val;
            
                var text = L.DomUtil.create('div');
                text.id = "info-box";
                text.innerHTML = '<img src="' + url + '" class="photo-modal-image shadow-lg">\
                <button type="submit" form="addTarget" class="btn btn-default justify-center">Submit</button>'
                return text;
                },
      
                onRemove: function(map) {
                  // Nothing to do here
                }
            });
            L.control.textbox = function(opts) { return new L.Control.textbox(opts);}
            L.control.textbox({ position: 'topleft' }).addTo(map);


      var geotagPhotoCamera = L.geotagPhoto.camera(points, {
        cameraIcon: L.icon({
          iconUrl: '/static/assets/camera.svg',
          iconSize: [38, 38],
          iconAnchor: [19, 19]
        }),
        targetIcon: L.icon({
          iconUrl: '/static/assets/marker.svg',
          iconSize: [32, 32],
          iconAnchor: [16, 16]
        }),
        angleIcon: L.icon({
          iconUrl: '/static/assets/marker.svg',
          iconSize: [32, 32],
          iconAnchor: [16, 16]
        }),
        controlCameraImg: '/static/assets/camera-icon.svg',
        controlCrosshairImg: '/static/assets/crosshair-icon.svg',
        minAngle: 10
      }).addTo(map)

      var outputElement = document.getElementById('output')

      var slider = document.getElementById('slider')
      var angleText = document.getElementById('angle')

      locations = []

      $.getJSON("/photos/", function(data) {
        for (var i = 0; i < data.length; i++) {
          var location = data[i];
          var latlng = L.latLng(location.lat, location.lon);
          var name = location.name;
          locations.push({name: name, latlng: latlng})
        }
      });

      function getLocationsInView() {
        var locationsInView = [];
        for (var i = 0; i < locations.length; i++) {
          if(map.getBounds().contains(locations[i].latlng)) {
            locationsInView.push(location[i]);
          }
        }
        return locationsInView;
      }

      // map.on("moveend", function () {
      //   console.log(getLocationsInView());
      // });

      // function updateAngle() {
      //   var angle = parseInt(slider.value)
      //   geotagPhotoCamera.setAngle(angle)
      // }

      // slider.addEventListener('input', updateAngle)

      // // In IE<=11, input event does not work
      // slider.addEventListener('change', updateAngle)

      // //updateSidebar()
      // updateAngle()

      $("#addTarget").submit( function (){
        var point = geotagPhotoCamera.getTargetPoint()
        console.log(point)
        console.log(point.coordinates[1]);
        $("#lat2").val(point.coordinates[1]);
        $("#lon2").val(point.coordinates[0]);
      });
    </script>
  </body>
</html>