<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MemoryLane</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geotag-photo/dist/Leaflet.GeotagPhoto.css" />
    <script src="https://unpkg.com/leaflet-geotag-photo/dist/Leaflet.GeotagPhoto.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.73.0/L.Control.Locate.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.0/leaflet.markercluster.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.73.0/L.Control.Locate.min.js"></script>
    <script src="{{ url_for('static', filename='leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>  
  </head>
  <body style="overflow: hidden;">
    <meta id="lat" data-name="lat" data-val="{{lat}}">
    <meta id="lon" data-name="lon" data-val="{{lon}}">
    <meta id="url" data-name="url" data-val="{{url}}">
    <meta id="date_input" data-name="date_input" data-val="{{date}}">

    <meta id="angle" data-name="angle" data-val="{{angle}}">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-icon-container">
            <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
            <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i class="fa fa-search fa-lg white"></i></a>
          </div>
          <a class="navbar-brand" href="#">MemoryLane</a>
        </div>
        <div class="navbar-collapse collapse">

        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <form id="addDetails" action="/add-details" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="lat2" id="lat2">
                            <input type="hidden" name="lon2" id="lon2">  
                            <input type="hidden" name="date" id="date">
                            <input type="hidden" name="title" id="title">
                          </form>
    <div id="map"></div>
    <div id="slider-container">
        <label for="slider">Angle:</label>
        <input id="slider" type="range" min="1" max="120" step="1" value="20">
        <span id="angle"></span>
      </div>
<!--     <div id="sidebar">
      <h1>Leaflet.GeotagPhoto</h1>
      <h2>Mode: Camera <span class="light">(switch to <a href="crosshair.html">Crosshair</a>)</span></h2>
      <p>
        Leaflet plugin for photo geotagging. See <a href="https://github.com/nypl-spacetime/Leaflet.GeotagPhoto">GitHub</a> for details.
      </p>
      <h2>Output:</h2>
      <pre><samp id="output">
      </samp></pre>
    </div> -->
    <script src="{{ url_for('static', filename='js/details.js') }}"></script>
  </body>
</html>